USE [master]
GO
/****** Object:  Database [SEBASTIAN_MITE]    Script Date: 6/9/2024 12:04:42 ******/
CREATE DATABASE [SEBASTIAN_MITE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PersonDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLLOCALDB\MSSQL\DATA\PersonDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PersonDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLLOCALDB\MSSQL\DATA\PersonDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SEBASTIAN_MITE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SEBASTIAN_MITE]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 6/9/2024 12:04:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FormsLists]    Script Date: 6/9/2024 12:04:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FormsLists](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FormName] [nvarchar](max) NOT NULL,
	[CreationDate] [nvarchar](max) NOT NULL,
	[UpdateDate] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_FormsLists] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mascota]    Script Date: 6/9/2024 12:04:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mascota](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
	[Especie] [nvarchar](max) NOT NULL,
	[Raza] [nvarchar](max) NOT NULL,
	[Color] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Mascota] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MascotaFields]    Script Date: 6/9/2024 12:04:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MascotaFields](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[label] [nvarchar](max) NOT NULL,
	[type] [nvarchar](max) NOT NULL,
	[name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_MascotaFields] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonFields]    Script Date: 6/9/2024 12:04:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonFields](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[label] [nvarchar](max) NOT NULL,
	[type] [nvarchar](max) NOT NULL,
	[name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_PersonFields] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Persons]    Script Date: 6/9/2024 12:04:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persons](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombres] [nvarchar](max) NOT NULL,
	[FechaNacimiento] [nvarchar](max) NOT NULL,
	[Estatura] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Persons] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240906080931_Initial', N'8.0.8')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240906094931_Initial', N'8.0.8')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240906095154_FormsList', N'8.0.8')
GO
SET IDENTITY_INSERT [dbo].[FormsLists] ON 

INSERT [dbo].[FormsLists] ([Id], [FormName], [CreationDate], [UpdateDate]) VALUES (1, N'Persona', N'6 de septiembre de 2024', N'string')
INSERT [dbo].[FormsLists] ([Id], [FormName], [CreationDate], [UpdateDate]) VALUES (2, N'Mascota', N'6 de septiembre de 2024', N'string')
SET IDENTITY_INSERT [dbo].[FormsLists] OFF
GO
SET IDENTITY_INSERT [dbo].[Mascota] ON 

INSERT [dbo].[Mascota] ([Id], [Nombre], [Especie], [Raza], [Color]) VALUES (1, N'Chilina', N'Chihuahua', N'Chihuahua', N'Negro')
INSERT [dbo].[Mascota] ([Id], [Nombre], [Especie], [Raza], [Color]) VALUES (2, N'Pastor alemán', N'Pastor alemán', N'Pastor alemán', N'Pastor alemán')
SET IDENTITY_INSERT [dbo].[Mascota] OFF
GO
SET IDENTITY_INSERT [dbo].[MascotaFields] ON 

INSERT [dbo].[MascotaFields] ([Id], [label], [type], [name]) VALUES (5, N'Especie', N'text', N'Especie')
INSERT [dbo].[MascotaFields] ([Id], [label], [type], [name]) VALUES (6, N'Raza', N'text', N'Raza')
INSERT [dbo].[MascotaFields] ([Id], [label], [type], [name]) VALUES (7, N'Color', N'text', N'Color')
SET IDENTITY_INSERT [dbo].[MascotaFields] OFF
GO
SET IDENTITY_INSERT [dbo].[PersonFields] ON 

INSERT [dbo].[PersonFields] ([Id], [label], [type], [name]) VALUES (7, N'Nombre', N'text', N'Nombres')
INSERT [dbo].[PersonFields] ([Id], [label], [type], [name]) VALUES (8, N'Fecha de nacimiento', N'date', N'fechaNacimiento')
INSERT [dbo].[PersonFields] ([Id], [label], [type], [name]) VALUES (9, N'Estatura (cm)', N'number', N'estatura')
SET IDENTITY_INSERT [dbo].[PersonFields] OFF
GO
SET IDENTITY_INSERT [dbo].[Persons] ON 

INSERT [dbo].[Persons] ([Id], [Nombres], [FechaNacimiento], [Estatura]) VALUES (1, N'Sebastian', N'2024-09-06', N'180')
SET IDENTITY_INSERT [dbo].[Persons] OFF
GO
USE [master]
GO
